<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Data Science Tools and Ecosystem

In This Notebook Data Science Tools and Ecosystem are summarized.

OBJECTIVES: unordered list<br>
3. list popular language for data science<br>
4. commonly used libraries by data data scientist<br>
5. data science tools

some of the popular language that Data Scientist use are:

some of the commonly used libraries used by Data Scientists include:
ordered list
pandas
numpy
matplotlib
tensor flow

| Data Science Tools |
| --- |
| Rstudio | 
| --- |
| Tensor flow | 
| --- |
| Apache Spark |

Below are few example of evaluating arithmetic expression in python

In [3]:
#this is a simple arithmetic expression to multiply then and integer
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

Author<br>
Parveen